<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="processLogin(loginForm)">
    <div class="row">
      <label for="username">Username:
        <input type="email" id="username" name="username" #username ngModel>
        <div>
          <label for="password">Password:
            <input type="password" id="password" name="password" #password ngModel>
            <div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </label>
        </div>
      </label>
    </div>
  </form>
</div>
